$barlow-bold: var(--barlow-bold);
$barlow-medium: var(--barlow-medium);
$barlow-regular: var(--barlow-regular);
$flame-bold: var(--flame-bold);
$flame-regular: var(--flame-regular);
$flame-sans-regular: var(--flamesans-regular);
$flame-sans: var(--flame-sans);

$yellow-color: #faaf18;
$dark-color: #2d2d2d;
$white: #ffffff;
$orange-color: #ed7801;
$brown-color: #8b542f;
$dark-brown-color: #502314;